@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&display=swap');

* {
  margin: 0;
  font-family: 'Sono', sans-serif;
  color: #333;
  text-decoration: none;
}

.productpreview {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 5px;
  float: left;
  width: 220px;
  height: 380px;
  font-size: 14px;
  position:relative;

}

div.productpreview p {
  position:absolute;
  bottom:0;
}

div.productpreview img {
  width: 200px;
  height: 200px;
}

.productpreview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}