@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&display=swap');

* {
  margin: 0;
  font-family: 'Sono', sans-serif;
  color: #333;
  text-decoration: none;
}

.productpreview {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 5px;
  float: left;
  width: 220px;
  height: 380px;
  font-size: 14px;
  position:relative;

}

div.productpreview p {
  position:absolute;
  bottom:0;
}

div.productpreview img {
  width: 200px;
  height: 200px;
}

.productpreview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.productdetails {
  display: flex;
  align-items: center;
  justify-content: center
}

.productimage img {
  float: left;

}

.navbar {
  font-size: 22px;
  margin: 0;
  align-items: center;
  padding: 0;
  width:98%;
  opacity: .6;
  display: flex;
  list-style-type: none;
}

.navheader {
  font-size: 24px;
  font-weight: bold;
}

.navlinks {
  font-size: 18px;
  margin-top: 0px;
  margin-left: auto;
}

.productimage {
  width: 450px;
  height: 450px;
  float: left;
  padding: 20px;
}

.productDetails {
  float: right;
  margin: 10px;
  padding: 40px;
  width: 500px;
  box-sizing: border-box; 
}

.productDetails p {
  color: #718b61;
  font-size: 18px;
}

.newReview {
  clear: left;
  padding: 10px 16px;
  margin: 40px ;
  max-width: 450px;
}

.newReview input {
  float: right;
}

.new {
  max-width: 300px;
  margin: 150px auto;
  padding: 20px;
  text-align: center;
  background-color: #f6eeee;
  border-radius: 6%;
}

.new label {
  text-align: left;
  display: block;
}
.new h2 {
  font-size: 20px;
  color: #f1356d;
  margin: 10px;
}
.new input, .new textarea {
  font-size: 16px;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  background-color: #f6eeee;
  color: #f1356d;
}
.new button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.input .newButton {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.listedReview {
  padding: 10px 16px;
  margin: 20px ;
  border-top: 5px solid black;
  border-top-width: thin;
  border-bottom: 5px solid black;
  border-bottom-width: thin;
  max-width: 450px;
}
